app-header {
  order: 1;
  margin: 5rem auto;

  .heading {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    text-decoration: underline;
    text-align: center;
  }
}

@media (min-width: $breakpoint-medium) {
  app-header {
    order: 2;
  }
}

@media (max-width: $breakpoint-small) {
  .heading {
    font-size: 3rem !important;
  }
}
