app-header {
  margin: 2rem auto 0 3rem;
  height: min-content;

  .header {
    display: flex;
    margin-bottom: 3rem;
    gap: 4.5rem;
    width: 100%;

    .heading {
      font-size: 5rem;
      line-height: 4rem;
      margin-bottom: 1.2rem;
      letter-spacing: 0.6rem;
      text-align: center;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  app-header {
  }
}

@media (max-width: $breakpoint-small) {
  .heading {
    font-size: 3rem !important;
  }
}
