<h2 class="header text-gold text-shadow-gold uppercase">choose game mode</h2>
<div class="container">
    <div class="left">
      <div class="selection" (click)="navigate('game')">
        <i class="fa fa-user text-white text-shadow-white"></i>
        <p class="text-white text-shadow-white uppercase bold">singleplayer</p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="right">
      <div class="selection" (click)="navigate('rooms')">
        <i class="fa fa-users text-white text-shadow-white"></i>
        <p class="text-white text-shadow-white uppercase bold">multiplayer</p>
      </div>
    </div>
</div>
