:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(241deg, rgba(24, 24, 81, 0.98) -1%, rgba(16, 16, 73, 0.98) -0.99%, rgba(3, 3, 42, 0.98) 34.16%, rgba(103, 35, 100, 0.98) 92.78%), url("../assets/images/patternhead61a-thumb.png"), lightgray 0% 0% / 300px 300px repeat;
}
