<div class="main">
    <div class="canvas grid-20">
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
        <div class="card">x</div>
    </div>
</div>
